
@font-face {font-family: "iconfont";
	src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome¡¢firefox¡¢opera¡¢Safari, Android, iOS 4.2+*/
}

.iconfont {
	font-family:"iconfont" !important;
	font-size:14px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
}

.icon-shujufenxi:before { content: "\e60b"; }

.icon-infenicon17:before { content: "\e7b0"; }

.icon-ditu:before { content: "\e622"; }

.icon-ditu1:before { content: "\e634"; }

.icon-yichang:before { content: "\e7e6"; }

.icon-quanguogaikuangxuanzhong:before { content: "\e604"; }

.icon-shishidongtai:before { content: "\e60f"; }

.icon-guanli:before { content: "\e722"; }

.icon-shujufenxi1:before { content: "\e65f"; }

.icon-baobiao:before { content: "\e60e"; }

.icon-lishirenwu:before { content: "\e893"; }

.icon-03:before { content: "\e64b"; }

.icon-baobiao1:before { content: "\e67f"; }

.icon-cuowu:before { content: "\e641"; }

.icon-gaojing:before { content: "\e661"; }

.icon-shishitongji:before { content: "\e6a1"; }

.icon-baobiao2:before { content: "\e675"; }

.icon-shishiquxian:before { content: "\e65a"; }

.icon-zlinfoboardxiangmugaikuang:before { content: "\e60d"; }

.icon-lishi:before { content: "\e607"; }

.icon-baobiao3:before { content: "\e610"; }

.icon-dian3:before { content: "\e605"; }

.icon-baobiao4:before { content: "\e72b"; }

.icon-shishishuju:before { content: "\e9d5"; }

.icon-home:before { content: "\e611"; }

.icon-ditu2:before { content: "\e608"; }

.icon-jinggao:before { content: "\e810"; }

.icon-tabbar_ico_analyse_nor:before { content: "\e621"; }

.icon-map:before { content: "\e696"; }

.icon-lishiyuding:before { content: "\e6e1"; }

.icon-yichangbaojing:before { content: "\e6aa"; }

.icon-dian:before { content: "\e600"; }

.icon-xiangmugaikuang:before { content: "\e952"; }

.icon-dian1:before { content: "\e601"; }

.icon-zhedietubiao-zhedie:before { content: "\e72f"; }

.icon-shujufenxi2:before { content: "\e61d"; }

.icon-guanligaikuang:before { content: "\e76f"; }

.icon-deposit:before { content: "\e602"; }

